body{
text-align:center;
 background: linear-gradient(#60ebeb 0%, #27ae60 100%);    
} 
h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:100;
}
h2{
    font-family: 'Dela Gothic One', cursive;
}

